/JAVA Programmer 8/labs/Nueva Carpeta/JavaApplication1/nbproject/private/
/JAVA Programmer 8/labs/Nueva Carpeta/JavaApplication1/build/
/JAVA Programmer 8/labs/03-Encapsulation/Ejercicio3/nbproject/private/
/JAVA Programmer-8/labs/03-Encapsulation/Ejercicio3/build/
/JAVA Programmer-8/labs/03-Encapsulation/Ejercicio-4/nbproject/private/
/JAVA Programmer-8/labs/03-Encapsulation/Ejercicio-4/build/
/JAVA Programmer-8/labs/02 - Review/practices/Employee/nbproject/private/
/JAVA Programmer-8/labs/02 - Review/practices/Employee/build/
/JAVA Programmer-8/labs/02 - Review/practices/practice1/Employee/nbproject/private/
/JAVA Programmer-8/labs/02 - Review/practices/practice1/Employee/build/
/JAVA Programmer-8/labs/03-Encapsulation/practices/practice1/Employee03-01Prac/nbproject/private/
/JAVA Programmer-8/labs/03-Encapsulation/practices/practice1/Employee03-01Prac/build/